<html>
    <head>
      {% if title %}
        <title>{{ title }} - DevBlog</title>
      {% else %}
        <title>Mir wurde kein Titel übergeben :( </title>
      {% endif %}
    </head>
    <body>
        <div>
          <a href="{{ url_for('index') }}">Home</a>
          <a href="{{ url_for('createpost') }}">Neuer Artikel</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}
        
        {% endblock %}
    </body>
</html> 